_Store
.idea/
node_modules/
*/npm-debug.log*
*/yarn-debug.log*
*/yarn-error.log*
*/db/
*/node_modules/

/admin/config/*
/client/config/*
/server/config/index.js
/server/config/production.json
/server/config/development.json

server/logs/*.log
